@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #menuButton {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: auto;
  }

  main {
    max-width: 1200px;
    margin: auto;
  }
}